admin/n8n-vntana-attributes-from-attachment.json
{
  "name": "VNTANA — Update Product Attributes from Attachment",
  "nodes": [

    {
      "parameters": {
        "content": "## ⚙️ Configure Before Activating\n\nSet these two n8n **Variables** (Settings → Variables):\n- `VNTANA_EMAIL` — your VNTANA login email\n- `VNTANA_PASSWORD` — your VNTANA password\n\nSet these four values directly on the **Config** node below:\n- `productUuid` — the VNTANA product UUID\n- `clientUuid` — the workspace UUID\n- `productName` — product name (required by VNTANA PUT)\n- `filePrefix` — attachment filename must start with this (default: `attributes_completed_`)\n\n## How It Works\n1. Runs on a timer (every 15 min by default)\n2. Searches the product's attachments for a file named `{filePrefix}*.xlsx`\n3. Skips if the file was already processed (tracked in workflow static data)\n4. Downloads the file, reads two columns: **attribute_key** | **attribute_value**\n5. **Replaces** all product attributes with the rows from the sheet\n\n## Spreadsheet Format\n| attribute_key | attribute_value |\n|---|---|\n| my_key | my value |\n| hotspot_translations_fr | {\"uuid\": {\"title\": \"...\", \"description\": \"...\"}} |\n\nValues can be plain strings or JSON. Any existing attributes not in the sheet are removed.",
        "height": 420,
        "width": 440
      },
      "id": "note-setup",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -160]
    },

    {
      "parameters": {
        "jsCode": "// ── CONFIGURE THESE FOUR VALUES ──────────────────────────\nconst CONFIG = {\n  productUuid: 'YOUR_PRODUCT_UUID',\n  clientUuid:  'YOUR_WORKSPACE_UUID',\n  productName: 'Your Product Name',\n  filePrefix:  'attributes_completed_'\n};\n// ──────────────────────────────────────────────────────────\nreturn [{ json: CONFIG }];"
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Edit the four values at the top of this node."
    },

    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 480]
    },

    {
      "parameters": {
        "jsCode": "// Merge trigger + config so downstream nodes have both\nconst config = $node['Config'].json;\nreturn [{ json: config }];"
      },
      "id": "mergeStart",
      "name": "Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 380]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api-platform.vntana.com/v1/auth/login",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "email": "={{ $vars.VNTANA_EMAIL }}",
          "password": "={{ $vars.VNTANA_PASSWORD }}"
        },
        "options": {}
      },
      "id": "auth",
      "name": "Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 380]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api-platform.vntana.com/v1/attachments/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-AUTH-TOKEN", "value": "={{ $json.response.token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "productUuid", "value": "={{ $node['Config'].json.productUuid }}" },
            { "name": "entityType",  "value": "PRODUCT" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": { "page": 1, "size": 50 },
        "options": {}
      },
      "id": "searchAttachments",
      "name": "Search Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 380]
    },

    {
      "parameters": {
        "jsCode": "// Find the newest attachment matching the filename prefix.\n// Skip if already processed (UUID stored in workflow static data).\n\nconst prefix      = $node['Config'].json.filePrefix.toLowerCase();\nconst attachments = $input.first().json.response?.grid ?? [];\n\nconst candidates = attachments\n  .filter(a => (a.name ?? '').toLowerCase().startsWith(prefix) &&\n               (a.name ?? '').toLowerCase().endsWith('.xlsx'))\n  .sort((a, b) => new Date(b.created ?? 0) - new Date(a.created ?? 0));\n\nif (!candidates.length) {\n  return [{ json: { skip: true, reason: 'No matching attachment found.' } }];\n}\n\nconst latest     = candidates[0];\nconst staticData = $getWorkflowStaticData('global');\n\nif (latest.uuid === staticData.lastProcessedUuid) {\n  return [{ json: { skip: true, reason: `Already processed: ${latest.name}` } }];\n}\n\nstaticData.lastProcessedUuid = latest.uuid;\nstaticData.lastProcessedAt   = new Date().toISOString();\n\nreturn [{ json: { skip: false, blobId: latest.blobId, name: latest.name } }];"
      },
      "id": "checkNewFile",
      "name": "Check for New File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 380]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "skip-check",
            "leftValue": "={{ $json.skip }}",
            "rightValue": false,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ifNewFile",
      "name": "New File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 380],
      "notes": "True branch: new file found. False branch: nothing to do."
    },

    {
      "parameters": {
        "url": "=https://api-platform.vntana.com/v1/storage/load/asset/model?blobId={{ $json.blobId }}&clientUuid={{ $node['Config'].json.clientUuid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-AUTH-TOKEN", "value": "={{ $node['Auth'].json.response.token }}" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } }
        }
      },
      "id": "downloadFile",
      "name": "Download Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 260]
    },

    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "parseSpreadsheet",
      "name": "Parse Spreadsheet",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1800, 260],
      "notes": "Reads every row as a JSON object. Expects columns: attribute_key | attribute_value"
    },

    {
      "parameters": {
        "jsCode": "// Build the attributes array from the spreadsheet rows.\n// Each row must have: attribute_key | attribute_value\n// This REPLACES all existing product attributes — nothing is preserved.\n\nconst rows = $input.all().map(i => i.json);\nconst attributes = [];\n\nfor (const row of rows) {\n  const key   = String(row['attribute_key']   ?? '').trim();\n  const value = String(row['attribute_value'] ?? '').trim();\n  if (!key) continue;\n  attributes.push({ name: key, value });\n}\n\nif (!attributes.length) {\n  throw new Error('Spreadsheet has no valid rows. Check column headers: attribute_key | attribute_value');\n}\n\nconst config = $node['Config'].json;\nreturn [{ json: {\n  uuid:       config.productUuid,\n  name:       config.productName,\n  attributes\n} }];"
      },
      "id": "buildAttributes",
      "name": "Build Attributes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 260],
      "notes": "Converts rows to VNTANA attributes array. Values can be plain strings or JSON strings."
    },

    {
      "parameters": {
        "method": "PUT",
        "url": "https://api-platform.vntana.com/v1/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-AUTH-TOKEN", "value": "={{ $node['Auth'].json.response.token }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "writeAttributes",
      "name": "Write to VNTANA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 260],
      "notes": "PUTs {uuid, name, attributes} — replaces all product attributes."
    }

  ],
  "connections": {
    "Config":              { "main": [[{ "node": "Start",              "type": "main", "index": 0 }]] },
    "Every 15 Minutes":    { "main": [[{ "node": "Start",              "type": "main", "index": 0 }]] },
    "Start":               { "main": [[{ "node": "Auth",               "type": "main", "index": 0 }]] },
    "Auth":                { "main": [[{ "node": "Search Attachments", "type": "main", "index": 0 }]] },
    "Search Attachments":  { "main": [[{ "node": "Check for New File", "type": "main", "index": 0 }]] },
    "Check for New File":  { "main": [[{ "node": "New File?",          "type": "main", "index": 0 }]] },
    "New File?": {
      "main": [
        [{ "node": "Download Attachment", "type": "main", "index": 0 }],
        []
      ]
    },
    "Download Attachment": { "main": [[{ "node": "Parse Spreadsheet", "type": "main", "index": 0 }]] },
    "Parse Spreadsheet":   { "main": [[{ "node": "Build Attributes",  "type": "main", "index": 0 }]] },
    "Build Attributes":    { "main": [[{ "node": "Write to VNTANA",   "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": {
    "templateId": "vntana-attributes-from-attachment",
    "templateCredsSetupCompleted": false,
    "description": "Watches a VNTANA product's attachments on a timer. When a new .xlsx file named attributes_completed_*.xlsx appears, reads two columns (attribute_key / attribute_value) and replaces the product's attributes entirely. Works for any VNTANA product and any attribute keys. Requires VNTANA_EMAIL and VNTANA_PASSWORD n8n variables."
  }
}
