admin/n8n-parts-tree-extract.json
{
  "meta": {
    "templateId": "vntana-parts-tree-extract",
    "description": "Triggered by VNTANA webhook when a product is sent for review. Sends a Slack notification with a link to the parts-mapper UI where the user can download/parse/rename the GLB scene tree in their browser."
  },
  "name": "VNTANA — Parts Tree Extract",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "parts-tree-extract",
      "parameters": {
        "path": "parts-tree-extract",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "extractIds",
      "name": "Extract IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Supports two payload shapes:\n// 1. Full VNTANA webhook: { product, organization, client }\n// 2. Manual trigger:      { productUuid, clientUuid }\nconst body = $input.first().json.body ?? $input.first().json;\n\nlet productUuid, clientUuid, productName;\n\nif (body.product) {\n  productUuid = body.product.uuid;\n  productName = body.product.name ?? '';\n  clientUuid  = body.client?.uuid ?? 'b577b1c8-80bd-4dab-b1b1-b22f9de4671a';\n} else {\n  productUuid = body.productUuid;\n  clientUuid  = body.clientUuid ?? 'b577b1c8-80bd-4dab-b1b1-b22f9de4671a';\n  productName = body.productName ?? '';\n}\n\nif (!productUuid) throw new Error('productUuid is required');\n\nreturn [{ json: { productUuid, clientUuid, productName } }];"
      }
    },
    {
      "id": "buildNotification",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const ids = $input.first().json;\nconst mapperUrl = `https://vntana-store-production.up.railway.app/admin/parts-mapper.html?uuid=${ids.productUuid}&clientUuid=${ids.clientUuid}`;\nconst productLabel = ids.productName || ids.productUuid;\n\nconst slackText = [\n  `*Parts Mapper: ${productLabel}*`,\n  `Open the mapper to review and rename mesh nodes in this model.`,\n  '',\n  `<${mapperUrl}|Open Parts Mapper>`\n].join('\\n');\n\nreturn [{ json: { ...ids, mapperUrl, slackText } }];"
      }
    },
    {
      "id": "slackNotify",
      "name": "Slack Notify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [900, 300],
      "parameters": {
        "operation": "message",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "parts-mapper",
          "mode": "name"
        },
        "text": "={{ $json.slackText }}",
        "otherOptions": { "mrkdwn": true }
      },
      "credentials": {
        "slackApi": { "name": "Slack account" }
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, productUuid: $json.productUuid, productName: $json.productName, mapperUrl: $json.mapperUrl }) }}"
      }
    }
  ],
  "connections": {
    "Webhook":            { "main": [[{ "node": "Extract IDs",       "type": "main", "index": 0 }]] },
    "Extract IDs":        { "main": [[{ "node": "Build Notification", "type": "main", "index": 0 }]] },
    "Build Notification": { "main": [[{ "node": "Slack Notify",       "type": "main", "index": 0 }]] },
    "Slack Notify":       { "main": [[{ "node": "Respond",            "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null
}
