admin/n8n-showroom-maker.json
{
  "name": "VNTANA Showroom Maker \u2014 Excel Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vntana-showroom-maker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst productUuid = body.product?.uuid || '';\nconst rawBlobId   = body.product?.asset?.assetBlobId || '';\nconst blobUuid    = rawBlobId.replace(/\\.[^.]+$/, ''); // strip extension\nconst orgUuid     = body.organization?.uuid || '';\nconst clientUuid  = body.client?.uuid || '';\nconst productName = body.product?.name || 'Showroom Config';\nif (!rawBlobId)  throw new Error('No assetBlobId in webhook payload');\nif (!orgUuid)    throw new Error('No organization.uuid in webhook payload');\nif (!clientUuid) throw new Error('No client.uuid in webhook payload');\nreturn [{ json: { productUuid, blobUuid, orgUuid, clientUuid, productName } }];"
      },
      "id": "extract-context",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const assetsItems  = $('Aggregate Assets').first().json.data  || [];\nconst groupsItems  = $('Aggregate Groups').first().json.data  || [];\nconst stylingItems = $('Aggregate Styling').first().json.data || [];\nconst errors = [];\n\nconst assets = assetsItems.map(row => ({\n  uuid:  String(row['Asset UUID'] || '').trim(),\n  name:  String(row['Asset Name'] || '').trim(),\n  group: String(row['Group']      || '').trim(),\n  order: row['Order'] != null ? Number(row['Order']) : null,\n})).filter(a => a.uuid && /^[0-9a-f-]{36}$/i.test(a.uuid));\n\nconst groups = groupsItems.map(row => ({\n  title:         String(row['Group Title']    || '').trim(),\n  dividerTop:    String(row['Divider Top']    || '').toLowerCase() === 'yes',\n  dividerBottom: String(row['Divider Bottom'] || '').toLowerCase() === 'yes',\n  visible:       String(row['Visible']        || 'yes').toLowerCase() !== 'no',\n})).filter(g => g.title);\n\nconst stylingMap = {};\nstylingItems.forEach(row => {\n  const k = String(row['Field'] || '').trim();\n  if (k && !k.startsWith('\u2014') && !k.startsWith('--')) {\n    stylingMap[k] = row['Value'] != null ? String(row['Value']).trim() : '';\n  }\n});\n\nif (assets.length === 0) errors.push('Assets tab has no rows');\nconst groupTitles = new Set(groups.map(g => g.title));\nassets.forEach(a => {\n  if (a.group && !groupTitles.has(a.group))\n    errors.push(`Asset \"${a.name}\" references unknown group \"${a.group}\"`);\n});\n\nconst apiGroups = groups.map(g => {\n  const dividers = [];\n  if (g.dividerTop)    dividers.push('TOP');\n  if (g.dividerBottom) dividers.push('BOTTOM');\n  const productsInfo = assets\n    .filter(a => a.group === g.title)\n    .sort((a, b) => (a.order ?? 999) - (b.order ?? 999))\n    .map((a, idx) => ({ productUuid: a.uuid, order: a.order ?? idx + 1, visible: true }));\n  return { title: g.title, dividers, visible: g.visible, productsInfo };\n});\n\nconst layout = {};\nif (stylingMap['Background Color']) layout.BACKGROUND_COLOR = stylingMap['Background Color'];\nif (stylingMap['Text Color'])       layout.TEXT_COLOR        = stylingMap['Text Color'];\nif (stylingMap['Divider Color'])    layout.DIVIDER_COLOR     = stylingMap['Divider Color'];\nif (stylingMap['Products Per Row']) layout.PRODUCTS_PER_ROW  = parseInt(stylingMap['Products Per Row'], 10);\nif (stylingMap['Image Style'])      layout.IMAGE_STYLE       = String(stylingMap['Image Style']).toUpperCase();\n\nconst showroomName  = stylingMap['Showroom Name'] || 'New Showroom';\nconst productsUuids = assets.map(a => a.uuid);\n\nreturn [{ json: { productsUuids, apiGroups, layout, showroomName, errors } }];"
      },
      "id": "build-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-platform.vntana.com/v1/showrooms",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "vntanaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.showroomName, productsUuids: $json.productsUuids, groups: $json.apiGroups, layoutAttributes: $json.layout }) }}",
        "options": {}
      },
      "id": "create-showroom",
      "name": "Create Showroom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const built   = $('Build Payload').first().json;\nconst context = $('Extract Context').first().json;\nconst resp    = $input.item.json;\n\nconst newUuid = resp.response?.uuid || null;\nconst success = resp.success === true && !!newUuid;\n\nconst lines = [\n  'VNTANA Showroom Maker \u2014 Processing Log',\n  '======================================',\n  `Source file:    ${context.productName}`,\n  `Showroom name:  ${built.showroomName}`,\n  `Status:         ${success ? 'SUCCESS' : 'ERROR'}`,\n];\nif (newUuid) lines.push(`New showroom UUID: ${newUuid}`);\nif (resp.errors?.length) {\n  lines.push(`API errors: ${resp.errors.join(', ')}`);\n  if (resp.errors.includes('PRODUCT_NOT_FOUND')) {\n    lines.push('');\n    lines.push('PRODUCT_NOT_FOUND \u2014 one or more UUIDs below were not found in VNTANA.');\n    lines.push('Check each UUID exists as a product in your org (platform URL: /products/{uuid}):');\n    built.productsUuids.forEach((u, i) => {\n      const asset = built.apiGroups.flatMap(g => g.productsInfo).find(p => p.productUuid === u);\n      lines.push(`  [${i + 1}] ${u}`);\n    });\n  }\n}\nif (built.errors?.length) {\n  lines.push('');\n  lines.push('Validation warnings:');\n  built.errors.forEach(e => lines.push(`  - ${e}`));\n}\nlines.push('');\nlines.push(`Assets:  ${built.productsUuids.length}`);\nlines.push(`Groups:  ${built.apiGroups.length}`);\n\nreturn [{ json: { logText: lines.join('\\n'), success, newShowroomUuid: newUuid } }];"
      },
      "id": "build-log",
      "name": "Build Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success, newShowroomUuid: $json.newShowroomUuid, log: $json.logText }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1dH_9ztHhg97nigv8XV_FEm5hPY0eIsZn' in parents and mimeType='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' and trashed=false"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            },
            {
              "name": "pageSize",
              "value": "1"
            },
            {
              "name": "fields",
              "value": "files(id,name,modifiedTime)"
            }
          ]
        },
        "options": {}
      },
      "id": "find-excel",
      "name": "Find Latest Excel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = $input.item.json.files;\nif (!files || files.length === 0) throw new Error('No Excel file found in Google Drive folder 1dH_9ztHhg97nigv8XV_FEm5hPY0eIsZn');\nconst file = files[0];\nreturn [{ json: { id: file.id, name: file.name, modifiedTime: file.modifiedTime } }];"
      },
      "id": "extract-file-id",
      "name": "Extract File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "download-excel",
      "name": "Download Excel",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "readFromFile",
        "binaryPropertyName": "data",
        "options": {
          "sheetName": "Assets"
        }
      },
      "id": "read-assets",
      "name": "Read Assets",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1340,
        160
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data",
        "options": {}
      },
      "id": "agg-assets",
      "name": "Aggregate Assets",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        160
      ]
    },
    {
      "parameters": {
        "operation": "readFromFile",
        "binaryPropertyName": "data",
        "options": {
          "sheetName": "Groups"
        }
      },
      "id": "read-groups",
      "name": "Read Groups",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data",
        "options": {}
      },
      "id": "agg-groups",
      "name": "Aggregate Groups",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "readFromFile",
        "binaryPropertyName": "data",
        "options": {
          "sheetName": "Styling"
        }
      },
      "id": "read-styling",
      "name": "Read Styling",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1340,
        440
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data",
        "options": {}
      },
      "id": "agg-styling",
      "name": "Aggregate Styling",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        440
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-sheets",
      "name": "Merge Sheets",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context": {
      "main": [
        [
          {
            "node": "Find Latest Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Latest Excel": {
      "main": [
        [
          {
            "node": "Extract File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File ID": {
      "main": [
        [
          {
            "node": "Download Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Excel": {
      "main": [
        [
          {
            "node": "Read Assets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Groups",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Styling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Assets": {
      "main": [
        [
          {
            "node": "Aggregate Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Groups": {
      "main": [
        [
          {
            "node": "Aggregate Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Styling": {
      "main": [
        [
          {
            "node": "Aggregate Styling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Styling": {
      "main": [
        [
          {
            "node": "Merge Sheets",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Create Showroom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Showroom": {
      "main": [
        [
          {
            "node": "Build Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Log": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Assets": {
      "main": [
        [
          {
            "node": "Merge Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Groups": {
      "main": [
        [
          {
            "node": "Merge Sheets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sheets": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}